body {
  background-image: url("./image/bcg3.jpg");
  background-repeat: no-repeat, repeat;
  background-size: auto;

}

.page-item.active .page-link{
  background-color: #121212!important;
  border-color: #121212!important;
}
